
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: wheat;
}

.bar {
    fill: black;
}

.bar:hover {
    fill: grey;
}

#tooltip {
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 3px;
    pointer-events: none;
}
