
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    background-color: wheat;
}

.bar {
    fill: black;
}

.bar:hover {
    fill: grey;
}
